
 {% comment %} <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

HI {{ user.first_name }}
Please click on the link to confirm your registration,
http://{{ domain }}{% url'activate' uidb64=uid token=token %}


</body>
</html>  {% endcomment %}



{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>

<body>
    http://{{ domain }}{% url'activate' uidb64=uid token=token %}
    <a href="{{domain}}{% url 'domain' %}?uidb64={{ uid }}?token={{ token }}">verify</a>
</body>

</html> 
 {% endcomment %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>

<body>
    <a href="{{base_url}}{% url 'activate' %}?token={{ token }}">verify</a>
</body>

</html>











